python-dotenv
effdet
fastapi
networkx
numpy
onnxruntime
opencv-python-headless
pydantic
pydantic_core
scipy
setuptools
starlette
sympy
torch
torchvision
triton
typing-inspection
typing_extensions
uvicorn
